.aboutCreativia {
    width: 100%;

    h2 {
        margin: 100px auto 50px;
        font: 30px 'Raleway-Bold', sans-serif;
        color: $darkGrey;
        text-align: center;

        span {
            color: $pink;
        }
    }

    p {
        font: 16px 'Lato-Bold', sans-serif;
        color: $textColor;
        text-align: center;
        margin-bottom: 100px;
    }
    span {
        color: $pink;
    }       

    .description {
        padding-left: 117px;

        p {
            font: 16px 'Lato-Bold', sans-serif;
            text-align: justify;
            color: $textColor;
            line-height: 1.5;
            margin-bottom: 42px;
        }
    }

    .card {
        border-radius: 0;
        margin-bottom: 9px;

        .collapse {
            height: 40px;
        }

        .show {
            height: 89px;
        }

        .card-header {
            padding: 0;
            height: 44px;

            
            .btn-link {
                padding-left: 80px;
                text-decoration: none;
                font: 20px 'Raleway-Medium', sans-serif;
                color: $pink; 

                &::before {
                    content: '';
                    display: block;
                    width: 58px;
                    height: 43px;
                    border: 1px solid #e7e7e7;
                    border-top: none;
                    border-bottom: none;
                    border-top: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: url(../../img/minus.png) no-repeat center center;
                }
            }

            .collapsed {
                color: #262626; 


                &::before {
                    content: '';
                    display: block;
                    width: 58px;
                    height: 43px;
                    border: 1px solid #e7e7e7;
                    border-top: none;
                    border-bottom: none;
                    border-top: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: url(../../img/plus.png) no-repeat center center;
                }
            }
        }
    }

    .card-body {
        font: 14px 'Lato-Regular', sans-serif;
        color: $textColor;
        line-height: 1.2;
        padding: 15px;
        text-align: justify;
    }


    .gallery {
        margin-top: 15px;

        .clip-polygon {
            -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        
  }

        .left {
            display: block;
            position: absolute;
            z-index: 1;
            top: 18px;
        }

        .center {
            display: block;
            position: absolute;
            z-index: 3;
            left: 80px;
        }

        .right {
            display: block;
            position: absolute;
            z-index: 2;
            left: 220px;
            top: 18px;
        }
    }

    .line {

        img {
        display: block;
        margin: 100px auto;
        }
    }

    .info {

        .hexagon {
            position: relative;
            width: 88px; 
            height: 50.81px;
            background-color: $white;
            margin: 0 auto 35px;
            border-left: solid 1px #333333;
            border-right: solid 1px #333333;
            z-index: 1;

            &:hover {
                background-color: $pink;
                cursor: pointer;
            }

            img {
                width: 24px;
                height: 21px;
                z-index: 3;
                position: absolute;
                top: 18px;
                left: 30px;
            }
          }
          
          .hexagon:before,
          .hexagon:after {
            content: "";
            position: absolute;
            z-index: 1;
            width: 62.23px;
            height: 62.23px;
            -webkit-transform: scaleY(0.5774) rotate(-45deg);
            -ms-transform: scaleY(0.5774) rotate(-45deg);
            transform: scaleY(0.5774) rotate(-45deg);
            background-color: inherit;
            left: 11.8873px;
          }
          
          .hexagon:before {
            top: -31.1127px;
            border-top: solid 1.4142px #333333;
            border-right: solid 1.4142px #333333;
          }
          
          .hexagon:after {
            bottom: -31.1127px;
            border-bottom: solid 1.4142px #333333;
            border-left: solid 1.4142px #333333;
          }
          

        h3 {
            text-transform: uppercase;
            font: 20px 'Raleway-Medium', sans-serif;
            color: #262626;
            text-align: center;
        }

        p {
            font: 14px 'Lato-Regular', sans-serif;
            color: #737373;
            line-height: 1.4;
        }
    }
}