.fine {
    width: 100%;

    h2 {
        @include textCaption;

        span { 
            color: $pink;
        }
    }

    p {
        @include textDescription;
        margin-bottom: 100px;

        span { 
            color: $pink;
        }
    }

    .map {
        padding: 0;
        height: 575px;

        iframe {
            width: 100%;
        } 
}

    .users-messages {
        height: 575px;
        position: relative;
        top: -575px;

        .container {
            height: 575px;
        }

        .coordinates {
            width: 300px;
            height: 170px;
            background: $darkGrey;
            margin: 272px 130px 0 0;

            .coordinates-text {
                margin: 34px 0 0 24px;                           

            p {
                font: 16px 'MyriadPro-Regular', sans-serif;
                color: $white;
                margin-bottom: 9px;
                text-align: left;
            }
        }
    }

        .message {
            background: $white;
            width: 475px;
            height: 475px;

            .wrapper {
                padding: 50px 44px;

            h3 {
                font: 20px 'Raleway-Medium', sans-serif;
                text-transform: uppercase;
                color: $darkGrey;
                margin: 0 0 50px 0;
            }

            input {
                width: 100%;
                height: 32px;
                background: $white;
                border: 1px solid #e7e7e7; 
                color: $textColor;
                font: 16px 'Raleway-Bold', sans-serif;
                margin-bottom: 21px;
                padding-left: 16px;
            }

            .last-input {
                height: 86px;
                margin-top: 6px;
            }

            button {
                width: 120px;
                height: 40px;
                background: $darkGrey;
                color: $white;
                font: 16px 'Lato-Regular', sans-serif;
                text-transform: uppercase;
                border: none;
                outline: none;
            }
            }
        }
    }
}
