.twitter {
    width: 100%;
    background-color: $darkBg;
    

    .twitter-container {
        position: relative;
        height: 295px;

    img {
        display: block;
        margin-bottom: 25px;
    }

    p {
        font: 16px 'Lato-Regular',sans-serif;
        color: $white;
        max-width: 650px;
        text-align: center;
        line-height: 1.4;
    }

    .tweet {
        position: absolute;
        bottom: 0;
        left: 29px;
        margin: 0;
    }

    .line {

        img {
        display: block;
        margin: 0 auto;
        position: relative;
        top: 87px;
        }
    }
}
}